body {
  background-color: #e5a54a;
}

.header {
  background-color: #e5a54a;
  height: 100px;
}

.menu {
  float: right;
  display: inline-block;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  width: 315px;
  height: 85px;
  margin-right: 60px;
  padding-top: 10px;
}

.menu p {
  padding-left: 20px;

  display: inline-block;
}

.titulo {
  margin: auto;
  font-size: 35px;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  padding-left: 10px;
  display: inline-block;
}

.linha {
  color: white;
  background-color: white;
  height: 2px;
  margin-top: 38px;
}

.divisoria {
  background-color: white;
  width: 100px;
}

.bloco {
  margin-top: 70px;
  height: 600px;
  background-color: black;
  width: auto;
}

.preto {
  float: left;
  width: 50%;
  height: 600px;
  background-color: black;
  display: inline-block;
}

.imagem {
  width: 50%;
  height: 600px;
  background-color: white;
  float: right;
  display: inline-block;
}

.IMGQT {
  display: inline-block;
  width: 120px;
  height: 70px;
  margin-top: 15px;
  margin-left: 30px;
  float: left;
  border-radius: 70%;
}

.test {
  background-color: white;
  width: 100px;
}

.preto p {
  color: white;
  padding: 200px;
  font-size: 60px;
  text-align: center;
}

.texto {
  float: right;
  width: 56%;
  height: 400px;
  display: inline-block;
  color: black;
  margin-top: 100px;
  font-size: 100px;
}

.imagem2 {
  width: 40%;
  height: 400px;
  background-color: white;
  float: left;
  display: inline-block;
  margin-top: 100px;
  margin-left: 10px;
}

.texto p {
  text-align: inherit;
  margin: 2%;
  font-size: 50px;
}

.botaoinf button {
    width: 336px;
    height: 119px;
    background-color: black;
    color: white;
    padding-left: 1%;
    float: right;
    margin-top: 40px;
    margin-right: 45px;
    font-size: 50px;
    text-align: center;
}




.botaoinf p {
  font-size: 35px;
}

img#final.imagem2 {
  margin-bottom: 5%;
}

.menu a {
  text-decoration: none;
  color: white;
}
